* {
  border: 0px;

}

body {
  background-image: url(./fotoFundo.jpg);
  background-size: cover;
  max-width: fit-content;
  justify-content: center;
}

#color-palette {
  display: flex;
  margin: 20px 20px;
}

.color {
  border: 1px solid;
  border-color: black;
  width: 40px;
  height: 40px;
  margin: auto 5px;
}

.btn {
  margin: 20px 20px;
  max-width: fit-content;
  justify-content: space-between;
}

#pixel-board {
  margin: 20px 20px;
}