* {
  border: 0px;
}

body div {
  display: flex;
  max-width: 500px fit-content;
  align-content: center;
}

.color {
  border: 1px solid;
  border-color: black;
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 2px 2px;
}

