/* usado para resetar o css do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url(./fotoFundo.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-right: 100px;
}

.navbar, .container {
  background-color: aqua;
  width: 600px;
  border-radius: 0.5rem;
}

.navbar {
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn, .btn-eraser, input {
  height: 35px;
  padding: 0 .25em;
}

.color {
  padding: 0 .25em;
  width: 10%;
  margin: 0 1em;
}

.container {
  /* esta propriedade é usada para criar variáveis no css */
  --size: 4;
  height: 600px;
  display: grid;
  /* grid serve para criar um grid de elementos */
  /* var serve para chamar uma variável no css */
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 3px;
  padding: 3px;
}

.pixel {
  background-color: #3d3d3d;
  border-radius: .25rem;
}